<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Reviews v3 - dark</title>
</head>
<body>

  <div class="review-v3">
    <img class="image" src="image.png" alt="">
    <div class="content">
      <p class="text">"What a great experience! This service is a great time saver. Our team managed to reduce the time needed for paperwork by a third. Highly recommend this service."</p>
      <div class="reviewer">
        <h3>Name</h3>
        <p>Company, position</p>
      </div>
    </div>
  </div>
  
</body>
</html>