/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* COLORS */
:root {
  --lightMode-text-primary: #2e2b26;
  --lightMode-text-secondary: #848484;
  --lightMode-elements-gray3: #848484;
  --lightMode-elements-gray2: #c3c2c1;
  --lightMode-elements-gray1: #d6d6d6;
  --lightMode-background-bg2: #e5e5e5;
  --lightMode-background-bg1: #f0f0f0;
  --lightMode-background-bg0: #ffffff;

  --darkMode-text-primary: #ffffff;
  --darkMode-text-secondary: #ababab;
  --darkMode-elements-gray3: #ababab;
  --darkMode-elements-gray2: #808080;
  --darkMode-elements-gray1: #6b6b6b;
  --darkMode-background-bg2: #575757;
  --darkMode-background-bg1: #424242;
  --darkMode-background-bg0: #2e2e2e;

  --display1: 700 80px/84px 'Inter', sans-serif;
  --display2: 700 72px/76px 'Inter', sans-serif;
  --display3: 700 54px/60px 'Inter', sans-serif;
  --headline1: 700 40px/48px 'Inter', sans-serif;
  --headline2: 700 24px/32px 'Inter', sans-serif;
  --headline3: 700 20px/28px 'Inter', sans-serif;
  --headline4: 700 18px/24px 'Inter', sans-serif;
  --uppercase: 700 16px/24px 'Inter', sans-serif;
  --body: 400 18px/26px 'Inter', sans-serif;
  --caption: 400 16px/24px 'Inter', sans-serif;
  --button: 400 14px/20px 'Inter', sans-serif;
  --max-width: 1180px;
}

/* GENERALES */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--body);
  background-color: var(--darkMode-background-bg0);
  color: var(--darkMode-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--darkMode-text-primary);
}

/* PRICING 2 - COMPONENT */
.pricing2{
  padding: 28px;
}
.pricing2 .wrapper{
  width: 260px;
  height: 444px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--darkMode-elements-gray2);
}
.pricing2 .content .start{
  font: var(--button);
  color: var(--darkMode-text-secondary);
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.pricing2 .content .price{
  font: var(--headline1);
  text-align: center;
  margin-bottom: 8px;
}
.pricing2 .content .text{
  font: var(--button);
  margin-bottom: 24px;
  text-align: center;
  color: var(--darkMode-text-secondary);
}
.pricing2 .features{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pricing2 .features li{
  display: flex;
  align-items: center;
  gap: 12px;
}
.pricing2 .features li span{
  font: var(--caption);
}
.pricing2 button{
  width: 212px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--darkMode-background-bg0);
  border: 1px solid var(--darkMode-elements-gray2);
  cursor: pointer;
}
.pricing2 button a{
  font: var(--button);
}
.pricing2 button:hover,
.pricing2 button:active{
  background-color: var(--darkMode-background-bg2);
  border-color: var(--darkMode-elements-gray3);
}







