<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Blog 3 - light</title>
</head>
<body>

  <div class="blog3">
    <div class="blog3-wrapper">
      <div class="blog3-author-title">
        <p>Author or field of research</p>
        <h3>Think of a catchy title for your blog post. Be concise and creative</h3>
      </div>
      <div class="blog3-image-date">
        <img src="face1.jpg" alt="">
        <p>Today, 17:35</p>
      </div>
    </div>
  </div>
  
</body>
</html>