<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Button-dark</title>
</head>
<body>
  
  <a href="#" class="btn">
    See More 
    <span class="btn-icon">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6545 4.67938L15.6425 9.99998L10.6545 15.3206L9.97053 14.6794L13.918 10.4687H5V9.53123H13.918L9.97053 5.32058L10.6545 4.67938Z" fill="#ffffff"/>
      </svg>
    </span>
  </a>
  
</body>
</html>