<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Card v3 - dark</title>
</head>
<body>

  <div class="card-v3">
    <div class="image">
      <img src="image.png" alt="">
    </div>
    <div class="content">
      <h3 class="title">Service and/or section</h3>
      <p class="text">A short description of the service you offer or section of the website to which the card leads.</p>
      <button class="btn">Button</button>
    </div>
  </div>
  
  
</body>
</html>