<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Navbar 1 - Dark Mode</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar-content">
        <h2 class="logo"><a href="#">LogoHere!</a></h2>
        <ul class="menu">
          <li class="menu-item"><a href="#">Home</a></li>
          <li class="menu-item"><a href="#">Products</a></li>
          <li class="menu-item"><a href="#">Blog</a></li>
          <li class="menu-item"><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
</body>

</html>