<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Pricing 4 - light</title>
</head>
<body>

  <div class="pricing4">
    <div class="wrapper">
      <div class="items">
        <p>Pro</p>
        <ul>
          <li>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1475 7.14755L8.9998 17.2953L4.85205 13.1475L5.64755 12.352L8.9998 15.7043L18.352 6.35205L19.1475 7.14755Z" fill="#fff"/>
            </svg>
            <a href="#">First item included</a>
          </li>
          <li>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1475 7.14755L8.9998 17.2953L4.85205 13.1475L5.64755 12.352L8.9998 15.7043L18.352 6.35205L19.1475 7.14755Z" fill="#fff"/>
            </svg>
            <a href="#">Second item included</a>
          </li>
        </ul>
      </div>
      <div class="price">
        <h3>$22.48</h3>
        <p>per month, no hidden fees</p>
      </div>
    </div>
  </div>
  
</body>
</html>