/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* COLORS */
:root {
  --lightMode-primary-color: #2e2b26;
  --lightMode-secondary-color: #848484;
  --lightMode-gray3-color: #848484;
  --lightMode-gray2-color: #c3c2c1;
  --lightMode-gray1-color: #d6d6d6;
  --lightMode-bg2-color: #e5e5e5;
  --lightMode-bg1-color: #f0f0f0;
  --lightMode-bg0-color: #ffffff;

  --darkMode-primary-color: #ffffff;
  --darkMode-secondary-color: #ababab:
  --darkMode-gray3-color: #ababab;
  --darkMode-gray2-color: #808080;
  --darkMode-gray1-color: #6b6b6b;
  --darkMode-bg2-color: #575757;
  --darkMode-bg1-color: #424242;
  --darkMode-bg0-color: #2e2e2e;

  --display1: 700 80px/84px 'Inter', sans-serif;
  --display2: 700 72px/76px 'Inter', sans-serif;
  --display3: 700 54px/60px 'Inter', sans-serif;
  --headline1: 700 40px/48px 'Inter', sans-serif;
  --headline2: 700 24px/32px 'Inter', sans-serif;
  --headline3: 700 20px/28px 'Inter', sans-serif;
  --headline4: 700 18px/24px 'Inter', sans-serif;
  --uppercase: 700 16px/24px 'Inter', sans-serif;
  --body: 400 18px/26px 'Inter', sans-serif;
  --caption: 400 16px/24px 'Inter', sans-serif;
  --button: 400 14px/20px 'Inter', sans-serif;
  --max-width: 1180px;
}

/* GENERALES */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--body);
  letter-spacing: 0%;
  color: var(--lightMode-primary-color);
  background-color: var(--lightMode-bg0-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--lightMode-primary-color);
}

/* TABS-LIGHT COMPONENT */
.tabs {
  list-style-type: none;
  display: flex;
}

.tab-item {
  padding: 12px 37px;
  border: 1px solid var(--lightMode-gray2-color);
  cursor: pointer;
}

.tab-item.active {
  background-color: var(--lightMode-bg2-color);
}

.tab-item:active {
  background-color: var(--lightMode-bg2-color);
}

.tab-link {
  display: block;
  font: var(--headline4);
  color: var(--lightMode-primary-color);
  letter-spacing: -1.4%;
}
