<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Reviews v2 - dark</title>
</head>
<body>

  <div class="review-v2">
    <div class="company">
      <h3>Company Name</h3>
      <p>"What a great experience! This service is a great time saver. Our team managed to reduce the time needed for paperwork by a third. Highly recommend this service."</p>
    </div>
    <div class="reviewer">
      <img src="image.png" alt="">
      <div class="description">
        <h4>Name</h4>
        <p>Company, position</p>
      </div>
    </div>
  </div>  
  
</body>
</html>