/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* COLORS */
:root {
  --lightMode-text-primary: #2e2b26;
  --lightMode-text-secondary: #848484;
  --lightMode-elements-gray3: #848484;
  --lightMode-elements-gray2: #c3c2c1;
  --lightMode-elements-gray1: #d6d6d6;
  --lightMode-background-bg2: #e5e5e5;
  --lightMode-background-bg1: #f0f0f0;
  --lightMode-background-bg0: #ffffff;

  --darkMode-text-primary: #ffffff;
  --darkMode-text-secondary: #ababab;
  --darkMode-elements-gray3: #ababab;
  --darkMode-elements-gray2: #808080;
  --darkMode-elements-gray1: #6b6b6b;
  --darkMode-background-bg2: #575757;
  --darkMode-background-bg1: #424242;
  --darkMode-background-bg0: #2e2e2e;

  --display1: 700 80px/84px 'Inter', sans-serif;
  --display2: 700 72px/76px 'Inter', sans-serif;
  --display3: 700 54px/60px 'Inter', sans-serif;
  --headline1: 700 40px/48px 'Inter', sans-serif;
  --headline2: 700 24px/32px 'Inter', sans-serif;
  --headline3: 700 20px/28px 'Inter', sans-serif;
  --headline4: 700 18px/24px 'Inter', sans-serif;
  --uppercase: 700 16px/24px 'Inter', sans-serif;
  --body: 400 18px/26px 'Inter', sans-serif;
  --caption: 400 16px/24px 'Inter', sans-serif;
  --button: 400 14px/20px 'Inter', sans-serif;
  --max-width: 1180px;
}

/* GENERALES */
* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--body);
  background-color: var(--lightMode-background-bg0);
  color: var(--lightMode-text-primary);
}

a {
  text-decoration: none;
  color: var(--lightMode-text-primary);
}

/* SELECT - LIGHT COMPONENT */
.wrapper{
  width: 320px;
  margin: 130px auto 0;
}
.select-btn{
  height: 48px;
  border: 1px solid var(--lightMode-elements-gray2);
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-btn.active{
  border: 1px solid var(--lightMode-elements-gray3);
}
.select-btn span{
  color: var(--lightMode-text-secondary);
  font: var(--caption);
}
.select-btn span.active{
  color: var(--lightMode-text-primary);
}
.select-btn svg{
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn svg{
  transform: rotate(-180deg);
}
.content{
  margin-top: 8px;
  border: 1px solid var(--lightMode-elements-gray2);
  cursor: pointer;
  display: none;
}
.content.active{
  display: block;
}
.content .options{
  list-style-type: none;
  max-height: 240px;
  overflow-y: auto;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: var(--lightMode-background-bg0);
}
.options::-webkit-scrollbar-thumb{
  background: var(--lightMode-elements-gray2);
}
.content .options li{
  height: 48px;
  padding: 12px 16px;
  cursor: pointer;
  color: var(--lightMode-text-primary);
  font: var(--caption);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content .options li:hover,
.content .options li.selected{
  background-color: var(--lightMode-background-bg2);
}






