<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Card v4 - dark</title>
</head>
<body>

  <div class="card-v4">
    <div class="title-text">
      <h3 class="title">Service and/or section</h3>
      <p class="text">Short description of your feature or product</p>
    </div>
    <div class="caption">Additional text.</div>
  </div>
  
  
</body>
</html>