<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Reviews v1 - dark</title>
</head>
<body>

  <div class="review-v1">
    <div class="reviewer">
      <img src="image.png" alt="">
      <h4>Name</h4>
      <p>Company, position</p>
    </div>
    <div class="text">
      <p>“The role of literary theory in narrative has been disputed; with some interpretations like Todorov's narrative model that views all narratives in a cyclical manner, and that each narrative is characterized by a three part structure that allows the narrative to progress.”</p>
    </div>
  </div>
  
  
</body>
</html>