<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Pagination-1-dark</title>
</head>
<body>
  
  <div class="pagination-1">
    <a href="#" class="previous">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5208 16L18.3854 10.1354L19.1146 10.8646L13.9792 16L19.1146 21.1354L18.3854 21.8646L12.5208 16Z" fill="#ffffff"/>
        <rect x="0.5" y="0.5" width="31" height="31" stroke="#C3C2C1"/>
        </svg>
    </a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">...</a>
    <a href="#">12</a>
    <a href="#" class="next">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4792 16L13.6146 21.8646L12.8854 21.1354L18.0208 16L12.8854 10.8646L13.6146 10.1354L19.4792 16Z" fill="#ffffff"/>
        <rect x="0.5" y="0.5" width="31" height="31" stroke="#C3C2C1"/>
        </svg>
    </a>
  </div>
  
</body>
</html>