/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES */
:root {
  --lightMode-primary-color: #2e2b26;
  --lightMode-secondary-color: #848484;
  --lightMode-gray3-color: #848484;
  --lightMode-gray2-color: #c3c2c1;
  --lightMode-gray1-color: #d6d6d6;
  --lightMode-bg2-color: #e5e5e5;
  --lightMode-bg1-color: #f0f0f0;
  --lightMode-bg0-color: #ffffff;

  --darkMode-primary-color: #ffffff;
  --darkMode-secondary-color: #ababab:
  --darkMode-gray3-color: #ababab;
  --darkMode-gray2-color: #808080;
  --darkMode-gray1-color: #6b6b6b;
  --darkMode-bg2-color: #575757;
  --darkMode-bg1-color: #424242;
  --darkMode-bg0-color: #2e2e2e;

  --display1: 700 80px/84px 'Inter', sans-serif;
  --display2: 700 72px/76px 'Inter', sans-serif;
  --display3: 700 54px/60px 'Inter', sans-serif;
  --headline1: 700 40px/48px 'Inter', sans-serif;
  --headline2: 700 24px/32px 'Inter', sans-serif;
  --headline3: 700 20px/28px 'Inter', sans-serif;
  --headline4: 700 18px/24px 'Inter', sans-serif;
  --uppercase: 700 16px/24px 'Inter', sans-serif;
  --body: 400 18px/26px 'Inter', sans-serif;
  --caption: 400 16px/24px 'Inter', sans-serif;
  --button: 400 14px/20px 'Inter', sans-serif;
  --max-widht: 1180px;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MAIN */
body {
  font-family: 'Inter', sans-serif;
  color: var(--lightMode-primary-color);
}

header {
  margin-top: 96px;
}

a {
  text-decoration: none;
  color: var(--lightMode-primary-color);
}

/* UTILITY CLASSES */
.wrapper {
  max-width: var(--max-widht);
  margin: auto;
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: 1px solid var(--lightMode-gray2-color);
  padding: 10px 60px;
  color: var(--lightMode-primary-color);
}

.btn.btn-gray {
  background-color: var(--lightMode-gray3-color);
  color: var(--lightMode-bg0-color);
}

/* NAVBAR */
.navbar {
  background-color: var(--lightMode-bg0-color);
  box-shadow: 0 3px 8px 0 var(--lightMode-gray1-color);
  border: 1px solid var(--lightMode-secondary-color);
}

.navbar-content {
  color: var(--lightMode-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  font: var(--headline3);
  letter-spacing: -0.3px;
}

.navbar-menu {
  font: var(--caption);
  letter-spacing: 0%;
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-menuItem {
  margin-left: 32px;
}

.navbar-menuItem a.current,
.navbar-menuItem a:hover {
  text-decoration: underline;
}

/* SHOWCASE */
.showcase {
  background: var(--lightMode-bg1-color);
  border: 1px solid var(--lightMode-secondary-color);
  position: relative;
}

.showcase:before {
  content: '';
  background: url('./assets/pattern.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.showcase-grid {
  display: grid;
  grid-template-columns: 7fr 5fr;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.showcase-content {
  z-index: 1;  
  color: var(--lightMode-primary-color);
}

.showcase-title {
  margin-bottom: 2.25rem;
  font: var(--display3);
  letter-spacing: -0.5px;
  max-width: 600px;
}

.showcase-copy {
  margin-bottom: 2.25rem;
  font: var(--body);
  max-width: 460px;
}

/* SHOWCASE FORM */
.showcase-form {
  z-index: 1;
}

.form {
  background: var(--lightMode-bg0-color);
  border: 1px solid var(--lightMode-gray1-color);
  padding: 28px;
  max-width: 360px;
}

.form-title {
  font: var(--headline2);
  letter-spacing: -0.3px;
  margin-bottom: 28px;
}

.form-group {
  margin-bottom: 12px;
}
.form-group input {
  width: 100%;
  padding: 8px 18px;
  font: var(--caption);
  border: 1px solid var(--lightMode-gray2-color);
  color: var(--lightMode-secondary-color);
}

.form input[type="submit"] {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 12px;
  display: inline-block;
  border: 1px solid var(--lightMode-gray2-color);
  padding: 13px 18px;
  background-color: var(--lightMode-bg1-color);
  color: var(--lightMode-primary-color);
}

.form-text {
  font: var(--button);
  color: var(--lightMode-secondary-color);
}

.underline {
  text-decoration: underline;
}










