<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Blog 5 - light</title>
</head>
<body>

  <div class="blog5">
    <div class="wrapper">
      <div class="image">
        <img src="woman-studiying.jpg" alt="">
      </div>
      <div class="content">
        <p class="author">Author or field of research</p>
        <h4 class="title">Think of a catchy title for your blog post. Be concise and creative</h4>
        <p class="date">Today, 14:54</p>
      </div>
    </div>
  </div>
  
</body>
</html>