<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Faq 1 - light</title>
</head>
<body>

  <div class="faq1">
    <div class="wrapper">
      <h3 class="title">What questions do your clients usually ask?</h3>
      <p class="text">Please provide comprehensive answers to those questions. You will save lots of time and money by eliminating the necessity to give constant support. You also will keep your clients' time cause they will quickly find the answers to all their questions.</p>
    </div>
  </div>
  
</body>
</html>