<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Pricing 3 - light</title>
</head>
<body>

  <div class="pricing3">
    <div class="wrapper">
      <p class="free">Free</p>
      <h3 class="price">$0</h3>
      <p class="text">per month, no hidden fees</p>
      <button><a href="#">Select</a></button>
    </div>
  </div>
  
</body>
</html>