<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Pricing 1 - light</title>
</head>
<body>

  <div class="pricing1">
    <div class="wrapper">
      <div class="price">
        <p>PRO</p>
        <h3>$22.48</h3>
        <span>per month, no hidden fees</span>
      </div>
      <div class="features">
        <ul>
          <li>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1475 7.14755L8.9998 17.2953L4.85205 13.1475L5.64755 12.352L8.9998 15.7043L18.352 6.35205L19.1475 7.14755Z" fill="#2E2B26"/>
            </svg>
            <span>First item included</span>
          </li>
          <li>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1475 7.14755L8.9998 17.2953L4.85205 13.1475L5.64755 12.352L8.9998 15.7043L18.352 6.35205L19.1475 7.14755Z" fill="#2E2B26"/>
            </svg>
            <span>Second item included</span>
          </li>
          <li>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1475 7.14755L8.9998 17.2953L4.85205 13.1475L5.64755 12.352L8.9998 15.7043L18.352 6.35205L19.1475 7.14755Z" fill="#2E2B26"/>
            </svg>
            <span>Third item included</span>
          </li>
          <li>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1475 7.14755L8.9998 17.2953L4.85205 13.1475L5.64755 12.352L8.9998 15.7043L18.352 6.35205L19.1475 7.14755Z" fill="#2E2B26"/>
            </svg>
            <span>Fourth item included</span>
          </li>
        </ul>
      </div>
      <button>
        <a href="#">Select</a>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7854 5.61523L18.771 12L12.7854 18.3847L11.9646 17.6152L16.7016 12.5625H6V11.4375H16.7016L11.9646 6.38467L12.7854 5.61523Z" fill="#2E2B26"/>
        </svg>
      </button>
    </div>
  </div>
  
</body>
</html>