<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Features v5 - dark</title>
</head>
<body>

  <div class="features-v5">
    <div class="header">
      <h3>First Advantage</h3>
    </div>
    <div class="text">
      <p>Short text describing one of your product/service advantages. Try being creative.</p>
    </div>
  </div>
  
  
</body>
</html>