<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Blog 4 - light</title>
</head>
<body>

  <div class="blog4">
    <div class="blog4-wrapper">
      <p class="date">Today, 12:35</p>
      <h4 class="title">Think of a catchy title for your blog post. Be concise and creative</h4>
      <div class="tags">
        <span>tech industry</span>
        <span>new</span>
        <span>investment</span>
      </div>
      <div class="link">
        <a href="#">Read</a>
        <svg href="#" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7854 5.61523L18.771 12L12.7854 18.3847L11.9646 17.6152L16.7016 12.5625H6V11.4375H16.7016L11.9646 6.38467L12.7854 5.61523Z" fill="#2E2B26"/>
        </svg>
      </div>
    </div>
  </div>
  
</body>
</html>