/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES */
:root {
  --lightMode-primary-color: #2e2b26;
  --lightMode-secondary-color: #848484;
  --lightMode-gray3-color: #848484;
  --lightMode-gray2-color: #c3c2c1;
  --lightMode-gray1-color: #d6d6d6;
  --lightMode-bg2-color: #e5e5e5;
  --lightMode-bg1-color: #f0f0f0;
  --lightMode-bg0-color: #ffffff;

  --darkMode-primary-color: #ffffff;
  --darkMode-secondary-color: #ababab:
  --darkMode-gray3-color: #ababab;
  --darkMode-gray2-color: #808080;
  --darkMode-gray1-color: #6b6b6b;
  --darkMode-bg2-color: #575757;
  --darkMode-bg1-color: #424242;
  --darkMode-bg0-color: #2e2e2e;

  --display1: 700 80px/84px 'Inter', sans-serif;
  --display2: 700 72px/76px 'Inter', sans-serif;
  --display3: 700 54px/60px 'Inter', sans-serif;
  --headline1: 700 40px/48px 'Inter', sans-serif;
  --headline2: 700 24px/32px 'Inter', sans-serif;
  --headline3: 700 20px/28px 'Inter', sans-serif;
  --headline4: 700 18px/24px 'Inter', sans-serif;
  --uppercase: 700 16px/24px 'Inter', sans-serif;
  --body: 400 18px/26px 'Inter', sans-serif;
  --caption: 400 16px/24px 'Inter', sans-serif;
  --button: 400 14px/20px 'Inter', sans-serif;
  --max-widht: 1180px;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERALES */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--lightMode-primary-color);
}

/* UTILIDADES */
.wrapper {
  max-width: var(--max-widht);
  margin: auto;
}

/* TEAMS */
.team {
  margin-top: 96px;
  border: 1px solid var(--lightMode-secondary-color);
}

.container {
  height: 904px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content--left {
  max-width: 460px;
}

.content--left h2 {
  font: var(--headline1);
  letter-spacing: -1.3px;
  margin-bottom: 2rem;
}

.content--left p {
  font: var(--body);
  margin-bottom: 4rem;
}

.content--left ul {
  list-style-type: none;
}

.content--left ul li {
  font: var(--body);
  margin-bottom: 0.5rem;
}

.content--left ul li:nth-child(2) {
  font-weight: 700;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.card-img {
  width: 260px;
  height: 264px;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}

.card-title {
  font: var(--headline4);
  letter-spacing: -0.75px;
  margin-bottom: 0.5rem;
  text-align: center;
}

.card-copy {
  font: var(--caption);
  text-align: center;
}