<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Link 1-light</title>
</head>
<body>
  
  <a href="#" class="link"> 
    <span class="link-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3848 12.7854L12 18.771L5.61533 12.7854L6.38476 11.9646L11.4375 16.7016V6H12.5625V16.7016L17.6153 11.9646L18.3848 12.7854Z" fill="#2e2b26"/>
      </svg>
    </span>
    All options
  </a>
  
</body>
</html>