<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Accordion - dark</title>
</head>
<body>

  <div class="accordion-group">
    <div class="accordion">
      <div class="accordion-title">
        <h3>What question do your clients usually ask?</h3>
        <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.2043L6.39779 8.60205L5.60229 9.39755L12 15.7953L18.3978 9.39755L17.6023 8.60205L12 14.2043Z" fill="white"/>
        </svg>
      </div>
      <div class="accordion-content">
        <p>
          Please provide comprehensive answers to those questions. You will save lots of time and money by eliminating the necessity to give constant support. You also will keep your clients' time cause they will quickly find the answers to all their questions.
        </p>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-title">
        <h3>What question do your clients usually ask?</h3>
        <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.2043L6.39779 8.60205L5.60229 9.39755L12 15.7953L18.3978 9.39755L17.6023 8.60205L12 14.2043Z" fill="white"/>
        </svg>
      </div>
      <div class="accordion-content">
        <p>
          Please provide comprehensive answers to those questions. You will save lots of time and money by eliminating the necessity to give constant support. You also will keep your clients' time cause they will quickly find the answers to all their questions.
        </p>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-title">
        <h3>What question do your clients usually ask?</h3>
        <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.2043L6.39779 8.60205L5.60229 9.39755L12 15.7953L18.3978 9.39755L17.6023 8.60205L12 14.2043Z" fill="white"/>
        </svg>
      </div>
      <div class="accordion-content">
        <p>
          Please provide comprehensive answers to those questions. You will save lots of time and money by eliminating the necessity to give constant support. You also will keep your clients' time cause they will quickly find the answers to all their questions.
        </p>
      </div>
    </div>
    <div class="accordion">
      <div class="accordion-title">
        <h3>What question do your clients usually ask?</h3>
        <svg class="accordion-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.2043L6.39779 8.60205L5.60229 9.39755L12 15.7953L18.3978 9.39755L17.6023 8.60205L12 14.2043Z" fill="white"/>
        </svg>
      </div>
      <div class="accordion-content">
        <p>
          Please provide comprehensive answers to those questions. You will save lots of time and money by eliminating the necessity to give constant support. You also will keep your clients' time cause they will quickly find the answers to all their questions.
        </p>
      </div>
    </div>
  </div>
  
  <script src="script.js"></script>
</body>
</html>