<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Table - light</title>
</head>
<body>

  <div class="table">
    <div class="tr">
      <div class="td-1">First item included</div>
      <div class="td-2">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5304 9.53033L12.0001 23.0607L6.46973 17.5303L7.53039 16.4697L12.0001 20.9393L24.4697 8.46967L25.5304 9.53033Z" fill="#2E2B26"/>
          </svg>
      </div>
      <div class="td-2">Unlimited</div>
      <div class="td-2">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5304 9.53033L12.0001 23.0607L6.46973 17.5303L7.53039 16.4697L12.0001 20.9393L24.4697 8.46967L25.5304 9.53033Z" fill="#2E2B26"/>
          </svg>
      </div>
      <div class="td-2">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5304 9.53033L12.0001 23.0607L6.46973 17.5303L7.53039 16.4697L12.0001 20.9393L24.4697 8.46967L25.5304 9.53033Z" fill="#2E2B26"/>
          </svg>
      </div>
    </div>
  </div>
  
</body>
</html>