<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Features v6 - dark</title>
</head>
<body>

  <div class="features-v6">
    <div class="text">
      <p>Your product feature or name of the article etc.</p>
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9163 6.55115L21.8995 14L14.9163 21.4488L13.9587 20.5511L19.4852 14.6562H7V13.3437H19.4852L13.9587 7.44882L14.9163 6.55115Z" fill="#fff"/>
      </svg>
    </div>
  </div>
  
  
</body>
</html>